@import 'bootstrap';

html, body {
	font-family: Verdana, Geneva, sans-serif;
	color: green;
	margin: 20px;
}
h1 {
	font-size: 3rem;
	margin-bottom: .25rem;
	padding-bottom: 0px;
	font-family: "Courier New", Courier, monospace;
}