<div class="container">
    <div class="jumbotron">
        <h2 id="title">Ember CLI - Bootstrap SASS <span class="glyphicon glyphicon-knight" aria-hidden="true"></span></h2>
    </div>
	<div class="row">
		<div class="col-xs-6">on the left</div>
		<div class="col-xs-6 text-right">on the right</div>
	</div>
</div>

{{outlet}}
